<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido al Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido al Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="header-container">
      <h1>Bienvenido {{ userState.nombre }}</h1>
      <ion-button fill="clear" (click)="completar()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </div>
    <h4>{{ userState.tipoUsuario ? userState.tienda : '' }}</h4>    

    <ion-card *ngIf="showCard">
      
      <ion-card-header>
        <ion-card-title>{{ tituloCard }}</ion-card-title>
        <ion-card-subtitle>{{ subtitleCard }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <qrcode [qrdata]="conteudoQRCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </ion-card-content>
    </ion-card>

  </ion-content>

    <ion-tab-bar >

      <ion-tab-button [routerLink]="['/main']">
        <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario === 0" [routerLink]="['/cuentas']">
        <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
        <ion-label>Cuentas</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario === 1" [routerLink]="['/bet']">
        <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
        <ion-label>Sorteos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button *ngIf="userState.tipoUsuario !== 2" [routerLink]="['/users']">
        <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario !== 2" [routerLink]="['/clientes']">
        <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario === 2" [routerLink]="['/purchases']">
        <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
        <ion-label>Compras</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario === 2" [routerLink]="['/tickets']">
        <ion-icon name="receipt-outline" aria-hidden="true"></ion-icon>
        <ion-label>Tickets</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="userState.tipoUsuario === 2" [routerLink]="['/sorteos']">
        <ion-icon name="gift-outline" aria-hidden="true"></ion-icon>
        <ion-label>Sorteos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="onLogout()">
        <ion-icon name="log-out-outline" aria-hidden="true"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-tab-button>  
    </ion-tab-bar>


</ion-content>
