<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Validar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Validar Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="rutValue" label="RUT:" placeholder="Ingrese su rut"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="onValidate()" >Validar</ion-button>

  
</ion-content>
<ion-footer>
  
    <ion-tab-bar >
      <ion-tab-button [routerLink]="['/main']">
        <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/detalles']">
        <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
        <ion-label>Detalle Promocion</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="onLogout()">
        <ion-icon name="log-out-outline" aria-hidden="true"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-tab-button>  
    </ion-tab-bar>
  
</ion-footer>