<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo usuário</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="formData.name" label="Nombre" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.lastname" label="Apellido" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.rut" label="RUT" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.mail" label="Correo"  type="email" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.phone" label="Telefono" type="tel" placeholder="Enter text"></ion-input>
      </ion-item>
      
      <ion-button expand="block" class="ion-margin" (click)="onSubmit()">Generar</ion-button>
    </ion-list>
  </ion-list>
</ion-content>
