<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sorteo Fácil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sorteo Fácil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">Ingrese sus datos para ingresar al sistema</div>


  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="email" label="Correo" type="email" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" label="Contraseña" type="password" placeholder=""></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onLogin()" >Login</ion-button>
      
    </ion-list>
  </ion-list>

</ion-content>
